
@import url(variables.css);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
/* completo grid de 3 columnas */
body{
   background-color: var(--color1);
    display:grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    color: var(--color3);
    font-family: "Mukta", sans-serif;
    height: 100vh;
    overflow-y: hidden;
  

}

/* seccion de album izquierda */
.album{
    display: flex;
    flex-direction: column;
   gap: 0.7rem;
  padding: 0.5rem;
    width: 100%;
}
/* barra de busqueda y titulo */
.album__discover{
    background-color: var(--color2);
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
    padding: 2rem;


}
.album__discover h1{
    font-size: xx-large;    
    color: var(--color5)
}
.album__search{
    display: flex;
    gap: 1rem;
    align-items: center;
  
   
}
.album__search i{
    font-size: x-large;
}
.album__search input[type="text"]{
    flex: 1; /* El campo de entrada ocupará el espacio disponible */
    border: none;
    /* Sin borde */
    background-color:transparent; /* Fondo transparente */
    color: #fff; 
    font-size: 18px; 
    outline: none; 
}
.album__search button {
    padding: 10px 20px;
    background-color:#242424; 
    color: #fff; 
    border: none; 
    border-radius: 0 50px 50px 0; 
    cursor: pointer;
    /* transition: border 0.3s ease; */
}
.album__search button:hover {
    border: 1px solid #fff; 
}


/* seccion de top char */
.album__top{
    display: flex;
    flex-direction: column;
   /* align-items: center; */
 
   background-color: var(--color2);
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-weight: bold;
   border-radius: 1rem;
   gap: 2rem;
   color: var(--color3)
}


.album__songs :nth-child(3){
    color: rgba(255, 255, 255, 0.521)
    
}
.album__songs {
   
    transition: padding 0.3s ease;

    border-radius: 1rem;

}
.album__songs:hover{
    background-color: #242424;
    padding: 0.4rem;
    cursor: pointer;
   
}
.album__subtitle{
    display: flex;
   flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
   font-size: x-large;
  
  justify-content: space-between;
   /* width: 100%; */



}
.album__week{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.479);
}
/* week and row down icon  */
.album__week{
    gap: 0.2rem;
}
/* album gallery big  */
.album__gallery{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll; 
    height: 350px;
    flex-direction: column;
    background-color: var(--color2);
    border-radius: 1rem;
    color: var(--color3)
}
.album-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   
}
.album-container img{
    width: 180px;
    height: 180px;
    border-radius: 1rem;
    transition: ease 0.3s;

}
.album-container img:hover{
    width: 170px;
    height: 170px;
}
album-cover-list{
    /* background-color: red; */
  
 
    display: flex;
    flex-direction: row;
    justify-content: center;
 

    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    
    overflow-y: scroll;
  
}


/* you may like this section  */

.album__mayLike{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1.5rem;
    background-color: var(--color2);
    border-radius: 1rem;
    color: var(--color3)
    
    
    

}
.album__mayLikeName :nth-child(2){
    color:rgba(255, 255, 255, 0.479)

}
.album__mayLikeTitle{
    display: flex;
    justify-content: flex-start;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    
}
/* 
.album__mayLikeSongs img{
    width: 70px;
    border-radius: 1rem;
  
} */
.album__mayLikeSongs{
    display: flex;
    gap: 1rem;
    align-items: center;
    /* padding: 0.7rem; */
    padding-right: 0.7rem;
    width: 95%;
    border-radius: 1rem;
    transition: padding 0.3s ease;
   
   
   
}
.album__mayLikeSongs:hover{
    background-color: #242424;
    padding: 0.4rem;
    cursor: pointer;
    
        

}

.album__mayLikeGallery{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
    height: 9vw;
    
    margin-bottom: 1rem;
    overflow-y: scroll; 

}
.album__mayLikeSongs :nth-child(3){
    margin-left: 3rem;
}

.album-may{

    width: 100%;
/* margi: 0.2rem; */
  
  
    /* background-color: #1ed760; */
}
.albumMayContainer{
    /* background-color: red; */
    margin: 0.2rem;
    padding: 0.2rem;

    gap: 1.5rem;
 align-items: center;
margin-right: 1.5rem;
 border-radius: 1rem;
 
 
  
 display: flex;
 
 
 
}

.albumMayContainer:hover{
    background-color: var(--color4);
    transition: padding ease 0.3s;
    padding: 0.5rem;
    

}
.albumMayContainer img{
    width: 65px;
    border-radius: 1rem;
   
}

.albumMayContainer p {
    /* background-color: rgb(91, 87, 87); */
    display: flex;

    display: inline;


}

/* seccion del centro (main)  */


main{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 1.5em;
   background-color: var(--color2);
   border-radius: 1rem;
  
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   justify-content: center


}

.main__heading{
   
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: larger;
}


.frame__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

 
   
}


.album__mainSearch{
    display: flex;
    gap: 1rem;
    align-items: center;
  
   
}

.albumMayCover{
    display: flex;
  flex-wrap: wrap;
    /* background-color: red; */
    

    align-items: center;
}
.album__mainSearch i{
    font-size: x-large;
}



/* parte derecha track  */
.track{
    display: flex;
    flex-direction: column;
    
  margin: 0.5rem;

  padding: 0.5rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--color2);
    /* padding-left: 2rem; */
  
   
  
  
}
/* titulo de track con el buscador y el playing next */
.track__heading{
    padding-top: 2rem;
    padding-left: 2rem;
  
   
   
   
}
.track__heading h3{
    font-size:2rem;
  
}

/* seccion de las canciones lista */
.track__songs{
    overflow-y: scroll;
    height: 37vw;

     padding-left: 1.5rem;
}
.playNextDescription h4{
    font-size: 1rem;
}
.track__songsName{
    display: flex;
    align-items: center;
    
   
    
  
    gap: 1rem;
    
   
}
.track__playingNext {
    padding-left: 2rem;
    font-size: 2rem;
    color: var(--color5);

}
.playingNext{
    padding-left: 2rem;
    font-size: 1.2rem;
    color: var(--color5);

}
.track__search{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    
  
    width: 200px;
}
.track__search i{
    font-size: x-large;
}
.track__search input[type="text"]{
    flex: 1; /* El campo de entrada ocupará el espacio disponible */
    border: none;
    /* Sin borde */
    background-color:transparent; /* Fondo transparente */
    color: #fff; /* Color de texto */
    font-size: 18px; /* Tamaño de fuente */
    outline: none; /* Sin contorno al enfocar */
}

.playNextBox{
    gap: 1rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    width: 95%;
    border-radius: 1rem;

}
.playNextBox:hover{
 background-color: var(--color4);
padding: 0.5rem;
transition: ease 0.3s;

}
.playNextDescription{

    display: flex;
    font-size: 0.9rem;
}
.playNextBox img{
    width: 65px;
    border-radius: 1rem;
}

    


img:hover{
    cursor: pointer;
   

}
.menu__mobile{
    display: none;
}

.track__playingNext h5{
    font-size: 1rem;
    color: var(--color5);
    padding-top: 1.5rem;

}




/* ///////////////////////////////////////////////////////////////////////////////////// */
/* RESPONSIVE  */
@media (max-width: 800px) {
    /* TITULO DE DISCOVER */
    body{
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
        
        

        
    }
    .album{
        display: flex;
        width: 100vw;
    }


    .album__search i{
        font-size: medium;
    }
    .album__search input[type="text"]{
     
        font-size: 0.8rem; 
      
    }
    .album__search button {
      background-color: var(--color4);
        padding: 0.5rem  0.8rem;
        }
    .album__discover h1{
    font-size: 2.5rem;

    }
    .album__search button:hover {
        border: 1px solid #1ed760; 
    }
    .album__discover :nth-child(1){
        color: var(--color5);
    }

   /* top chart album gallery */
    .album__songs img{
        width: 150px;
        transition: width 0.3s ease;
    
        border-radius: 1rem;
    
    }
    .album__top{
      
     gap: 0;
       padding-top: 2rem;
       border-radius: 1rem;
    
    }
    .album__songs img:hover{
        width: 145px;
        
    
       
    }
    .album__gallery{
       
    
        justify-content: center;
       /* padding: 0.5rem; */
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: scroll; 
        height: 50vw;
        background-color:transparent
    
    };
    .album-cover-list{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        overflow-x: scroll;
        width: 100%;
        flex-wrap: nowrap;
        padding-left: 15rem;
    }
       
      .album-container img{
        width: 120px;
        height: 120px;
      }
 
    .album-container img:hover{
      width: 120px;
      height: 120px;
    }

    .album__subtitle{
        display: flex;
       flex-direction: row;
    
   
       font-size:1.6rem;
     justify-content: space-between;
       /* width: 100%; */
    
    
    
    }
   
   
    /* week and row down icon  */
    .album__week{
        display: flex;
        align-items: center;
       
    }
   /* SECTION DE YOU MAY LIKE THIS*/
              .albumMayContainer img{
                width: 75px;
              }

            .album__mayLike{
                display: flex;
                flex-direction: column;
                padding-left: 2rem;
                gap: 1em;
                background-color: var(--color2);
                border-radius: 1rem;
                color: var(--color3)
                
                
                

            }
            .album__mayLikeName :nth-child(2){
                color:rgba(255, 255, 255, 0.479)

            }
            .album__mayLikeTitle{
                display: flex;
                justify-content: flex-start;
                font-size: 1.2rem;
                padding-top: 1.5rem;
                
            }

            .album__mayLikeSongs img{
                width: 70px;
                border-radius: 1rem;
            
            }
            .album__mayLikeSongs{
              /* background-color: red; */
              display: flex;
              
              justify-content: start;
             
           
            
            
            }
         
            .album__mayLikeSongs:hover{
                
                    background-color: #242424;

            }

            .album__mayLikeGallery{
             
                display: flex;
                flex-direction: column;
                gap: 1rem;
             
                height: 12vh;
                
                margin-bottom: 1rem;
                overflow-y: scroll; 

            }
          
            .album__mayLikeSongs {
                font-size: 0.8rem;

            }
            .album__mayLikeSongs :nth-child(3){
                margin-left: 3rem;
                font-size: smaller;
                    }
        main{
            display: none;
          margin-left: 0.5rem;
          width: 95vw;
            gap:0rem;
            padding: 1rem;

        }
      
            
        

        .main__heading{
            padding-top: 2rem;
            display: flex;
          justify-content: center;
       
       
            font-size: larger;
        }
        .frame__box{
         
           display:  flex;
           width: 100vw;
           height: 560px;
           padding: 0rem;
           
        }
      
     


        .album__mainSearch{
            display: flex;
            gap: 1rem;
            align-items: center;
            padding-bottom: 1.5rem;
            width: 80vw;
          
        
        
        }
        .album__mainSearch i{
          
            color:var(--color5);
        }
        .album__mainSearch input[type="text"]{
            font-size: 0.8rem;  /* Tamaño de fuente */
          
        }
        .album__mainSearch Button{
            padding: 0.5rem  0.8rem;
            background-color: var(--color3);

        }
      
        .album__mainSearch button:hover {
            border: 1px solid var(--color3); /* Cambia el borde al pasar el cursor *//* Cambia el color al pasar el cursor */
        }


        /* SECTION DE TRACK TODAS LAS CANCIONES */
        .track{
            display: none;
            padding-bottom: 1rem;
        }
        .track__search{
            display: flex;
            gap: 1rem;
            align-items: center;
            padding-left: 2rem;
            width: 90vw;
           
            
          
        }
        
        .track__search i{
            font-size: x-large;
            color:var(--color5)
        }
        .track__search input[type="text"]{
       
            font-size: 0.8rem;  /* Tamaño de fuente */
         
        }
        .track__search button {
            background-color: var(--color3);
            padding: 0.5rem  0.8rem;
         
        }
        .track__search button:hover {
            border: 1px solid var(--color3); /* Cambia el borde al pasar el cursor *//* Cambia el color al pasar el cursor */
        }
        .track__songs{

            overflow-y: scroll;
            height: 155vw;

             padding: 0.5rem;
        }
        /* ////////////////////////// menu bar //////////////////////////; */


        .menu__mobile{
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-around;
            width: 60vw;
            background-color: var(--color2);
            padding: 20px;
            border-radius: 2rem ;
          

            z-index: 999;
           
        }
        .menu__mobile button{
            background: transparent;
            border: none;
            cursor: pointer;
        }
        
        
        .menu__mobile i{
            font-size: 2rem;
            background: transparent;
            color: var(--color5);
            
        }
        .menu__mobile button:hover {
            border: 1px solid #fff; 
        }
        
        
}